certifi
chardet
DBUtils~=3.0.2
idna
PyMySQL~=1.0.2
redis
requests~=2.27.1
urllib3~=1.26.8
xlwings~=0.26.1
selenium~=4.1.0
Pillow
baidu-aip
alibabacloud_ocr_api20210707
alibabacloud_darabonba_stream
tencentcloud-sdk-python
numpy~=1.22.2
openpyxl~=3.1.5